.checkout-page__container{

}
.checkout-box {
    position: absolute;
    top: 410px;
    left: 277px;
    width: 550px;
    height: 820px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #2b303b;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}
.checkout-box form{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.box__container{
    margin-right: 25px;
}

.checkout-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.checkout-box .user-box {
    position: relative;
}

.checkout-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.checkout-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.checkout-box .user-box input:focus ~ label,
.checkout-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #f48403;
    font-size: 12px;
}

.checkout-box form button {
    position: absolute;
    bottom: 25px;
    display: flex;
    padding: 10px 20px;
    height: 30px;
    align-items: center;
    color: #f48403;
    background: transparent;
    font-size: 16px;
    outline: none;
    border: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin: 0 auto;
    letter-spacing: 4px
}

.checkout-box button:hover {
    background: #f48403;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #f48403,
    0 0 25px #f48403,
    0 0 50px #f48403,
    0 0 100px #f48403;
}
