<!DOCTYPE html>

<html lang="ru" ng-app="videoteka" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Главная страница</title>
</head>
<body>
<div layout:fragment="content">
  <table>
    <tr>
      <td>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Картинка</th>
            <th scope="col">Название</th>
            <th scope="col">Год выпуска</th>
            <th scope="col">Жанр</th>
            <th scope="col">Страна</th>
            <th scope="col">Описание</th>
            <th scope="col">Аренда</th>
            <th scope="col">Покупка</th>
          </tr>
          </thead>
          <tbody class="table-group-divider">
          <tr th:each="f:${films.contents}">
            <td> <img th:src="${f.getImageUrlLink()}" class="img-thumbnail"></td>
            <td th:text="${f.title}"></td>
            <td th:text="${f.premierYear}"></td>
            <td>
              <ul>
                <li th:each="g: ${f.getGenre()}" th:text="${g}"></li>
              </ul>
            </td>
            <td>
              <ul>
                <li th:each="cc: ${f.getCountry()}" th:text="${cc}"></li>
              </ul>
            </td>
            <td th:text="${f.description}"></td>
            <td th:text="${f.rentPrice} + ' дубовых'"></td>
            <td th:text="${f.salePrice} + ' дубовых'"></td>
            <td ng-controller="mainController">
              <script th:inline="javascript">
                var idqq = [[${f.id}]];
              </script>
              <button type="button" class="btn btn-primary" ng-click="addToCart()">Добавить в корзину</button>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
      <td>
        <form class="form-group" th:action="@{/film/filter_update}" th:object="${filterDataDto.filterCountryList}" method="post">
          <strong>Страны:</strong><br>
          <div class="form-check" style="width:250px; height:200px; overflow:auto; border:solid 1px #C3E4FE;">
          <p>
            <th:block th:each="c : ${countries}">
              <input type="checkbox" th:value="${c.title}" th:field="${filterDataDto.filterCountryList}"/>
              <label th:text="${c.title}"></label>
              <br/>
            </th:block>
          </p>
          </div>
          <br>
          <strong>Режиссеры:</strong><br>
          <div class="form-check" style="width:250px; height:200px; overflow:auto; border:solid 1px #C3E4FE;">
            <p>
              <th:block th:each="d : ${directors}">
                <input type="checkbox" th:value="${d.firstName}+' '+${d.lastName}" th:field="${filterDataDto.filterDirectorList}"/>
                <label th:text="${d.firstName}+' '+${d.lastName}"></label>
                <br/>
              </th:block>
            </p>
          </div>
          <br>
          <strong>Жанры:</strong><br>
          <div class="form-check" style="width:250px; height:200px; overflow:auto; border:solid 1px #C3E4FE;">
            <p>
              <th:block th:each="g : ${genres}">
                <input type="checkbox" th:value="${g.title}" th:field="${filterDataDto.filterGenreList}"/>
                <label th:text="${g.title}"></label>
                <br/>
              </th:block>
            </p>
          </div>
          <br>
          <div style="border:solid 1px #C3E4FE;">
            <div class="form-group">
              <label for="formControlRange1">Стартовый год</label>
              <input type="range"
                     class="form-control-range"
                     id="formControlRange3"
                     th:attr="max=${years.getMaxYear()},min=${years.getMinYear()},value=${years.minYear}"
                     th:field="${filterDataDto.startPremierYear}"
                     onChange="document.getElementById('rangeval3').innerText = document.getElementById('formControlRange3').value">
              <span id="rangeval3" th:text="${filterDataDto.startPremierYear}"></span>
              <br>
            </div>
            <br>
            <div class="form-group">
              <label for="formControlRange1">Конечный год</label>
              <input type="range"
                     class="form-control-range"
                     id="formControlRange4"
                     th:attr="max=${years.getMaxYear()},min=${years.getMinYear()},value=${years.maxYear}"
                     th:field="${filterDataDto.endPremierYear}"
                     onChange="document.getElementById('rangeval4').innerText = document.getElementById('formControlRange4').value">
              <span id="rangeval4" th:text="${filterDataDto.endPremierYear}"></span>
            </div>
          </div>
          <br>

          <div style="border:solid 1px #C3E4FE;">
            <div class="form-group">
              <label for="formControlRange1">Цена аренды</label>
              <input type="range"
                     class="form-control-range"
                     id="formControlRange1"
                     th:attr="max=${prices.maxPriceRent},value=${filterDataDto.maxPriceRent}"
                     th:field="${filterDataDto.maxPriceRent}"
                     onChange="document.getElementById('rangeval').innerText = 'От 0 до '+document.getElementById('formControlRange1').value+' дубовых'">
              <span id="rangeval" th:text="'От 0 до '+${filterDataDto.maxPriceRent}+' дубовых'"></span>
              <br>
            </div>
            <br>
            <div class="form-group">
              <label for="formControlRange2">Цена покупки</label>
              <input type="range"
                     class="form-control-range"
                     id="formControlRange2"
                     min="0"
                     th:attr="max=${prices.maxPriceSale},value=${filterDataDto.maxPriceSale}"
                     onChange="document.getElementById('rangeval2').innerText = 'От 0 до '+document.getElementById('formControlRange2').value+' дубовых'"
                     th:field="${filterDataDto.maxPriceSale}">
              <span id="rangeval2" th:text="'От 0 до '+${filterDataDto.maxPriceSale}+' дубовых'"></span>
            </div>
            <br>
            <div class="form-check">
              <label class="form-check-label" th:for="${#ids.next('checked')}">Купить фильм</label>
              <input class="form-check-input" type="checkbox" th:field="${filterDataDto.sale}" />
            </div>
          </div>
          <br>
          <input name="submit" type="reset" class="btn btn-danger" value="Сбросить"/>
          <input name="submit" type="submit" class="btn btn-primary" value="Применить"/>
        </form>
      </td>
    </tr>
  </table>
  <nav aria-label="Page navigation">
    <ul class="pagination pagination">
      <li class="page-item" th:each="p:${pageList}">
        <a class="page-link" th:text="${p+1}" th:href="@{${linksForPagination[p]}}"></a>
      </li>
    </ul>
  </nav>
</div>
</body>
</html>