.container {
    height: 100%;
    background: rgb(0, 0, 0);
}

.empty {
    color: white;
}

.catalog {
    position: absolute;
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    margin: 25px;
    width: 90%;
    overflow-y: scroll;
}
.pagination{
    color: white;
}
.current_pages{
    float: left;
}
.pagination_items{
    float: right;
    color: white;
}