.container {
    position: relative;
    height: 100vh;
    background: rgb(0, 0, 0);
}

.empty {
    color: white;
}
.genre_bar{
    margin: 25px 0;
}

.catalog {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
    width: 90%;
    height: fit-content;
    overflow-y: auto;
}
.catalog::-webkit-scrollbar{
    display: none;
}
.pagination{
    color: white;
}
.current_pages{
    float: left;
}
.pagination_items{
    float: right;
    color: white;
}
.filter_card{
    position: absolute;
    right: 0;
    top: 160px;
    height: 650px;
    width: 300px;
    border: 1px solid rgba(32,32,32,1);
    border-radius: 10px;
    background: linear-gradient(49deg, rgba(0,0,0,1) 0%, rgba(32,32,32,1) 35%, rgb(32, 32, 32) 66%, rgba(0,0,0,1) 99%);
}